In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("Transport 1314.xlsx")

In [3]:
df.head()

,"National Survey for Wales, 2013-14 - Transport",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,NaN,NaN,NaN,NaN,NaN
1,This workbook contains a range of tables on th...,NaN,NaN,NaN,NaN
2,Background details about these tables are give...,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN
4,Please note: Where a relationship has been fou...,NaN,NaN,NaN,NaN